.css-pattern{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #FFF09D;
    display: grid;
    justify-content: center;
    align-items: center;
}
.parent{
    height: 100%;
    width: 600px;
    /*コレ*/margin-top: calc(50%);
    margin-left: calc(50% - 500px/2);
    display: block;
    opacity: 0.8;
}
.test{
    border: 1px solid #000;
}
