<div class="parent">
    <div class="css-pattern">
        <div class="canvas" *ngIf="isChart">
            <canvas baseChart class="chart" width="350" height="350" [type]="'line'" [data]="lineChartData"
                [options]="lineChartOptions" [legend]="lineChartLegend">
            </canvas>
        </div>
        <div class="stats">
            <p>連続ログインは{{user.continue_days}}日</p>
        </div>
    </div>
</div>
<footer>
    <button class="home-button" (click)="toHome()">HOMEへ</button>
</footer>
