.css-pattern {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #FFF09D;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.parent {
    height: 70%;
    width: 150%;
    margin-top: calc(20%);
    margin-left: calc(50% - 150%/2);
    display: block;
    opacity: 0.8;
}

.canvas {
    border: 1px solid #000000;
    border-radius: 15px;
}

.stats {
    width: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: 0px;
    font-size: large;
}
