<div class="moon">
    <button class="moon-button"></button>
</div>

<div class="star-night"> <!--星を入れるところ-->
    <div><img class="star" src="../../../assets/star_lightyellow.png"></div>
    <div><img class="star" src="../../../assets/star_lightyellow.png"></div>
    <div><img class="star" src="../../../assets/star_lightyellow.png"></div>
    <div><img class="star" src="../../../assets/star_lightyellow.png"></div>
    <div><img class="star" src="../../../assets/star_lightyellow.png"></div>
</div>

<footer>
    <button class="home-button">言語選択へ</button>
</footer>
