<form [formGroup]="signupForm">
    <mat-form-field class="register-form-field" appearance="fill">
        <mat-label>メールアドレス</mat-label>
        <input matInput formControlName="email" required>
        <mat-error>必須項目です</mat-error>
    </mat-form-field>

    <mat-form-field class="register-form-field" appearance="fill">
        <mat-label>パスワード</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required minlength="8">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">必須項目です</mat-error>
        <mat-error *ngIf="signupForm.controls['password'].errors?.['minlength']">パスワードは８文字以上を入力してください</mat-error>
    </mat-form-field>
</form>

<footer>
    <div>
        <button class="home-button" (click)="registerUser()" [disabled]="signupForm.invalid">登録</button>
    </div>
    <button mat-button class="to-login" (click)="toLogin()">登録済みの方はこちら</button>
</footer>
