.language-button{
    display: block;
    border: 3px solid #FFF09D;
    border-radius: 15px;
    color: #FFF09D;
    background: transparent;
    margin: 0 auto 10px auto;
    width: 80%;
    height: 10%;
    font-size: larger;
}
.languages{
    height: 70%;
    margin-top: 30px;
}
