/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom, #000211, #0c0222, #382749);
    text-align: center;
}

.home-button {
    border: 3px solid #FFF09D;
    border-radius: 15px;
    color: #FFF09D;
    background: transparent;
    width: 30%;
    height: 100%;
    font-size: large;
}

footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    height: 50px;
}
