.to-register {
    color: #FFF09D;
    background: transparent;
    width: auto;
    height: 30px;
    font-size: small;
}

.register-form-field {
    background-color: #ffffff;
    width: 80%;
    margin: 50px auto;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
